/Debug
/Release
/**/.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

/**/.gradle
/**/local.properties
/**/.DS_Store
/**/build
/**/captures

/**/.gradle
/**/.idea
/**/.cxx
/**/app/build

/build

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
